.Navigation {
    width: 100%;
    height: 120px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: 22px;

   & .OptionLeft {
       width: 30%;
       display: flex;
   }

   & .OptionRight {
       width: 30%;
       display: flex;
       justify-content: flex-end;
   }

   & .Option {
    padding: 10px;
    cursor: pointer;
    }

    & .Option :hover{
        font-weight: bold;
        color: #000
    }

   & .Logo{
       display: flex;
   }

    & a {
        text-decoration: none;
        color: #000;
    }

    & .Active {
        font-weight: bold;
    }
}