.Container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 18px;
    padding: 15px;

    & .Image {
        width: 23%;

        img {
            width: 125px;
            height: 125px;
        }

    }

    & .Quantity {
        width: 23%;
        display: flex;
        justify-content: center;
    }

    & .Arrow {
        cursor: pointer;
        flex-basis: 20px;
    }


    & span {
        width: 23%;
    }

    & span:nth-last-child(1){
        width: 8%;
        cursor: pointer;
    }

}