.CollectionsPreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    & .Title{
      font-size: 28px;
      margin: 35px 0px;  
    }

    & .Preview{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}